@model List<EducationSystem.Models.Criterion>

@{
    ViewBag.Title = "Index";
}

<h3>Критерии</h3>
<table class="table">
    <tr>
        <th>
            Класс
        </th>
        <th>
            Предмет
        </th>
        <th>
            Номер критерия
        </th>
        <th>
            Максимальное значение
        </th>
        <th>
            Наименование критерия
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTask.Subject.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTask.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectTask.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Назад", "Index", "Task", new { subjTaskCode = Model[0].SubjectTaskCode }, new { @class = "link-page-task btn btn-default" })
</div>