@model EducationSystem.ViewModels.SolutionVM

@{
    ViewBag.Title = "Create";
}

<h2>
    Добавление решения в задание @ViewBag.description Класс @ViewBag.Class Задание @ViewBag.Number
    Предмет @ViewBag.Subject
</h2>


@using (Html.BeginForm("Create", "Solution", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SolutionImage, "Решение", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="listSubjects" id="mylist">
                        <input id='SolutionImageList0' name="SolutionImageList[0]" class="d-block input-form-tasks form-control col-md-2 mb-2" type="file" placeholder="1" />
                    </div>
                    <a id="addSol" class="addSol btn btn-default">+</a>
                    <a id="minusSol" class="minusSol btn btn-default">-</a>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.TaskCode,
            new { Value = ViewBag.TaskCode })

        @*<div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.SolutionImage, "Балл и комментарий", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <ul class="listSubjects" id="myMark" style="list-style-type: none; padding-left: 0">
                        <li id="SolutionVM[0].inputElemGroup[0]">
                            <input name="SolutionVM[0].inputElemGroup.rightAnswer" class="d-block input-form-tasks form-control col-md-2 mb-2"
                                   type="number" placeholder="0" style="max-width: 100px; margin-right: 5px;" />
                            <select name="SolutionVM[0].inputElemGroup.rightAnswer" class="d-block input-form-tasks form-control col-md-2 mb-2"
                                    type="" placeholder="1" style="max-width: 150px; margin-right: 5px;">
                                <option>Верно</option>
                                <option>Неверно</option>
                            </select>
                            <textarea name="SolutionVM[0].inputElemGroup.Comment" class="d-block input-form-tasks form-control col-md-2 mb-2" placeholder="Комментарий"></textarea>
                        </li>
                    </ul>
                    <a id="addMark" class="addSol btn btn-default">+</a>
                    <a id="minusMark" class="minusMark btn btn-default">-</a>
                </div>

            </div>*@
        @*</div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index", "Solution", new { ViewBag.TaskCode }, new { @class = "link-page-task btn btn-default" })
</div>

@section Scripts {
    <script>
        $(function() {
            var i = 0;
            var k = 0;
            $('#addSol').click(function() {
                i++;
                const elem = $(`<input id='SolutionImageList${i}' name='SolutionImageList[${i}]'
                            class='d-block input-form-tasks form-control col-md-2 mb-2'
                            type='file'/>`);
                $('#mylist').append(elem);
            });

            $('#minusSol').click(function () {
                $(`#SolutionImageList${i}`).remove();
                if (i >= 0) {
                    i--;
                } else {
                    i = 0;
                }
            });

            $('#addMark').click(function() {
                k++;
                const inputMarkGroup = $('#SolutionVM[0].inputElemGroup');
                const elem = $(`
                    <li id="SolutionVM[${k}].inputElemGroup[${k}]">
                        <input name="rightAnswer" class="d-block input-form-tasks form-control col-md-2 mb-2"
                               type="number" placeholder="${k}" style="max-width: 100px; margin-right: 5px;"/>
                        <select name="rightAnswer" class="d-block input-form-tasks form-control col-md-2 mb-2"
                                type="" placeholder="1" style="max-width: 150px; margin-right: 5px;">
                            <option>Верно</option>
                            <option>Неверно</option>
                        </select>
                        <textarea name="SolutionVM[0].inputElemGroup.Comment" class="d-block input-form-tasks form-control col-md-2 mb-2" placeholder="Комментарии"></textarea>
                    </li>
                `);
                $('#myMark').append(elem);
            });

            $('#minusMark').click(function() {

                $(`#SolutionVM[${k}].inputElemGroup[${k}]`).remove();
                if (k >= 0) {
                    k--;
                } else {
                    k = 0;
                }
            });
        });
    </script>
}