@model EducationSystem.Models.Solution

@{
    ViewBag.Title = "Test";
}


<section class="section-solution-test">
    
    <div class="section-solution-test-up-task">
        <h2>Задание</h2>
        <figure class="figure-question">
            <div>
                @Html.Raw("<img id='zoom_01' class='main-photo-task1' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(ViewBag.TaskImage) + "\" />")
            </div>
        </figure>

        <div>
            @*<a href="" class="section-solution-test_btn-send btn btn-success" download>Скачать критерий</a>*@
            @if (User.Identity.IsAuthenticated)
            {
                if (ViewBag.CriterionCode != null)
                {
                    @Html.ActionLink("Добавить комментарии к решению", "CreateComment", "Solution",
               new { SolutionCode = ViewBag.SolutionCode, CriterionCode = ViewBag.CriterionCode }, new { @class = "link-page-task btn btn-default" })
                }

                @Html.ActionLink("Комментарии к решению", "ViewComment", "Solution", new { SolutionCode = ViewBag.SolutionCode },
               new { @class = "link-page-task btn btn-default" })
            }
        </div>
    </div>

    <div class="section-solution-test-taks">
        <h2>Решение</h2>
        <div class="container-subj-photo-task">
            <figure class="figure-question figure-photo-task">
                <div id="figure-img-task">
                    @Html.Raw("<img id='zoom_01' class='main-photo-task' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(ViewBag.FirstImage) + "\" />")
                </div>
            </figure>

            <ul class="list-subj-mini-photo-task">

                @foreach (var item in ViewBag.Images)
                {
                    <li class="item-subj-mini-photo-task">
                        @Html.Raw("<img class='photo-task' loading='eager' src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(item) + "\" />")
                    </li>
                }

            </ul>
        </div>

        <div class="section-solution-test_check-panel">
            <ul class="check-panel_list list-group">
                <li class="check-panel_item list-group-item">
                    <div class="section-solution-test_check-panel-choice">
                        <label class="section-solution-test_label-select" for="check-panel-select-1">Критерий №1</label>

                        <select id="check-panel-select-1" class="section-solution-test_select-points" required>
                            <option selected="selected">Баллы</option>
                            <option value="0">0 баллов</option>
                            <option value="1">1 балл</option>
                            <option value="2">2 балла</option>
                            <option value="3">3 балла</option>
                        </select>

                    </div>
                </li>
            </ul>
            <button class="section-solution-test_btn-send btn btn-success">Проверить</button>
        </div>
    </div>
</section>
<div>
    @Html.ActionLink("Назад", "Index","Solution", new { TaskCode = ViewBag.solutionTaskCode }, new { @class = "link-page-task btn btn-default" })
</div>

<script type="text/javascript">

    //$(document).ready(function() { // Ждём загрузки страницы
    //    const selects = $("select");
    //    $(".section-solution-test_btn-send").click(function() {

    //        const options = $('select');

    //        const values = $.map(options,
    //            function(option) {
    //                return option.value;
    //            });
    //        console.log(values);
    //        var nice = '<svg class="pos-img" width="34px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">' +
    //            '<path d="M16.5163 8.93451L11.0597 14.7023L8.0959 11.8984" stroke="green" stroke-width="2"/>' +
    //            '<path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="green" stroke-width="2"/>' +
    //            '</svg>';
    //        var dis = '<svg class="dis-img" width="34px" height="34px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">' +
    //            '<path d="M7.95206 16.048L16.0769 7.92297" stroke="red" stroke-width="2"/>' +
    //            '<path d="M16.0914 16.0336L7.90884 7.85101" stroke="red" stroke-width="2"/>' +
    //            '<path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="red" stroke-width="2"/>' +
    //            '</svg>';
    //        var panelChoice = $(".section-solution-test_check-panel-choice");
    //        var checkPanel = $(".check-panel_item");
    //        $("select").each(function() {
    //            if ($(this).val() == 1) {
    //                if (document.querySelector(".section-solution-p") && document.querySelector(".pos-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".pos-img").remove();
    //                } else if (document.querySelector(".section-solution-p") && document.querySelector(".dis-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".dis-img").remove();
    //                }
    //                panelChoice.has(this).append(nice);
    //                checkPanel.has(this).append('<p style="color: green; padding-right: 0;" class="section-solution-p">Есть несколько недочётов</p>');
    //            } else if ($(this).val() == 2) {
    //                if (document.querySelector(".section-solution-p") && document.querySelector(".pos-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".pos-img").remove();
    //                } else if (document.querySelector(".section-solution-p") && document.querySelector(".dis-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".dis-img").remove();
    //                }
    //                panelChoice.has(this).append(nice);
    //                checkPanel.has(this).append('<p style="color: green; padding-right: 0;" class="section-solution-p">Есть недочёт</p>');
    //            } else if ($(this).val() == 3) {
    //                if (document.querySelector(".section-solution-p") && document.querySelector(".pos-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".pos-img").remove();
    //                } else if (document.querySelector(".section-solution-p") && document.querySelector(".dis-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".dis-img").remove();
    //                }
    //                panelChoice.has(this).append(nice);
    //                checkPanel.has(this).append('<p style="color: green; padding-right: 0;" class="section-solution-p">Всё верно</p>');
    //            } else if ($(this).val() == 0) {
    //                if (document.querySelector(".section-solution-p") && document.querySelector(".pos-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".pos-img").remove();
    //                } else if (document.querySelector(".section-solution-p") && document.querySelector(".dis-img")) {
    //                    document.querySelector(".section-solution-p").remove();
    //                    document.querySelector(".dis-img").remove();
    //                }
    //                panelChoice.has(this).append(dis);
    //                checkPanel.has(this).append('<p style="color: red; padding-right: 0;" class="section-solution-p">Неверно</p>');
    //            }
    //        });

    //    });

        $(".photo-task").click(function() {
            const img = $(this);
            const src = img.attr('src');
            $(".main-photo-task").attr('src', src);
        });

        $(".section-solution-test_btn").click(function() {
            const src = $(".photo-task").attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append(`<div class='popup'><div class='popup_bg'></div><img src=${src} class='popup_img' /></div>`);
            $(".popup").fadeIn(300); // Медленно выводим изображение
            $(".popup_bg").click(function() { // Событие клика на затемненный фон
                $(".popup").fadeOut(300); // Медленно убираем всплывающее окно
                setTimeout(function() { // Выставляем таймер
                        $(".popup").remove(); // Удаляем разметку всплывающего окна
                    },
                    300);
            });
        });

        $(".main-photo-task").click(function() { // Событие клика на маленькое изображение
            const img = $(this); // Получаем изображение, на которое кликнули
            const src = img.attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append(`<div class='popup'><div class='popup_bg'></div><img src=${src} class='popup_img' /></div>`);
            $(".popup").fadeIn(500); // Медленно выводим изображение
            $(".popup_bg").click(function() { // Событие клика на затемненный фон
                $(".popup").fadeOut(500); // Медленно убираем всплывающее окно
                setTimeout(function() { // Выставляем таймер
                        $(".popup").remove(); // Удаляем разметку всплывающего окна
                    },
                    500);
            });
        });

        $(".main-photo-task1").click(function () { // Событие клика на маленькое изображение
            const img = $(this); // Получаем изображение, на которое кликнули
            const src = img.attr('src'); // Достаем из этого изображения путь до картинки
            $("body").append(`<div class='popup'><div class='popup_bg'></div><img src=${src} class='popup_img' /></div>`);
            $(".popup").fadeIn(500); // Медленно выводим изображение
            $(".popup_bg").click(function () { // Событие клика на затемненный фон
                $(".popup").fadeOut(500); // Медленно убираем всплывающее окно
                setTimeout(function () { // Выставляем таймер
                    $(".popup").remove(); // Удаляем разметку всплывающего окна
                },
                    500);
            });
        });

        $(".popup_img").click(function() {
            $(".popup_img").style("transform", "scale(2)");
        });
    });

</script>
@*новый вариант*@
@*<div>
    <embed src="data:application/pdf;base64, 
           @Convert.ToBase64String(ViewBag.criterionFile)" type="application/pdf" width="700px" height="900px" />
</div>*@