<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Education system</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        * {
            box-sizing: border-box;
        }
        .body {
            margin: 0 auto;
            padding: 0;
        }
        .header {
            height: 100px;
            background-color: #77FAAD;
        }
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-left: 50px !important;
        }
        .container {
            width: 900px;
        }
    </style>
</head>
<body class="body">
    <header class="header">
        <div class="container header-container">
            <a href="#" class="header-link-main">Главная</a>

            <div class="header-login">
                <img src="../../Source/img/loginImage.svg" class="header-login_img" alt="login">

                <a href="#" class="header-login_link">Войти</a>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container main-container">
            <!--<h1 class="main-heading"></h1>-->
            <p class="main-hero-text">Система поддержки обучения и сертификации экспертов массовых процедур оценки качества образования</p>

            <div class="main-choice">
                <a href="#" class="main-choice_link">9 класс</a>

                <a href="#" class="main-choice_link">11 класс</a>
            </div>
        </div>
    </main>

    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
