<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Education system</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../../Content/LayoutStyles.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .link-page-task {
            font-size: 18px;
        }
        .section-solution-test-up-task {
            display: flex;
            justify-content: space-between;
        }
        .main {
            padding-bottom: 40px;
        }
    </style>
</head>
<body class="body">
<header class="header">
    <div class="container header-container">
        @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "header-link-main linkStr" })
        <div class="header-login">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="header-login_link linkStr" style="margin-right: 10px;">@User.Identity.Name</a>
            }
            <div style="display: flex; flex-direction: column; align-items: center">
                <img src="../../Source/img/loginImage.svg" class="header-login_img" alt="login" width="50px">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Выйти", "LogOut", "LogIn", new object(),
                        new { @class = "linkStr fz-18" })
                }
                else
                {
                    @Html.ActionLink("Войти", "LogIn", "LogIn", new object(),
                        new { @class = "linkStr fz-18" })
                }
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div class="container body-content">
        @RenderBody()
    </div>
</main>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
<script>

    jQuery(document).ready(function($) {
        if ($('ul.listquery').find('li').length > 5) {
            $('#showother').click(function() {
                $('ul.listquery li:nth-child(n+6)').slideToggle('');
                $(this).toggleClass('opnd_g');
                if ($(this).hasClass('opnd_g')) {
                    $(this).html('Скрыть');
                } else {
                    $(this).html('Смотреть все');
                }
            });
        } else {
            $('#showother').hide();
        }
    });
</script>
</body>
</html>