@model EducationSystem.Models.Subject

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование предмета </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SubjectCode)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Предмет", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, "Класс", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="numTask">Задания</label>
            <ul id="numTask" class="list-group col-md-10" style="list-style: none; padding-left: 15px;">

                @foreach (var item in ViewBag.SubTaskList)
                {
                    <li class="mb-4" style="margin-bottom: 10px;">
                        <input name='numTask' class='input-form-tasks form-control list-group-item'
                               type='number' value='@item'/>
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.16" x="0.5" y="0.5" width="39" height="39" rx="7.5" stroke="#263238"/>
                            <path d="M28.71 15.0425C29.1 14.6525 29.1 14.0025 28.71 13.6325L26.37 11.2925C26 10.9025 25.35 10.9025 24.96 11.2925L23.12 13.1225L26.87 16.8725L28.71 15.0425ZM11 25.2525V29.0025H14.75L25.81 17.9325L22.06 14.1825L11 25.2525Z" fill="#979797"/>
                        </svg>
                    </li>
                    <a href="@Url.Action("Edit", "Subjects", new { item.SubjectCode })" class="pen-icon">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.16" x="0.5" y="0.5" width="39" height="39" rx="7.5" stroke="#263238"/>
                            <path d="M28.71 15.0425C29.1 14.6525 29.1 14.0025 28.71 13.6325L26.37 11.2925C26
                                  10.9025 25.35 10.9025 24.96 11.2925L23.12 13.1225L26.87 16.8725L28.71 15.0425ZM11
                                  25.2525V29.0025H14.75L25.81 17.9325L22.06 14.1825L11 25.2525Z" fill="#979797"/>
                        </svg>
                    </a>
                }
            </ul>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default"/>
                @*@Html.ActionLink("Удалить", "Delete", new
                {
                    id = ViewBag.classNum
                },new{@class = "btn btn-default" })*@
            </div>

        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index", new
{
    numClass = Model.Class
},new { @class = "link-page-task btn btn-default" })
</div>